*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

header{
  height:100vh;
}

#nav{
  height:7vh;
}

.navbar-header{
  width:50%;
}

.navbar-brand>img{
  width: 40%;
  display: inline-block;
  position: relative;
  top: -11px;
}

.brand-img{
  width:20%;
}

.anchor-portada{
  text-decoration: none;
  color:#fff;
}

.anchor-portada:hover, .anchor-portada:link{
  text-decoration: none;
}

.abs{
  cursor:pointer;
}

.msj{
  width:90%;
}

.textPrinc{
  display:none;
}

.flex{
  width:50%;
  display:block;
  margin: auto;
  margin-bottom: 50px;
  transition: all 1s ease-in-out;
}

.img-cambia {
  position: relative;
  height: 380px;
  width: 380px;
  margin: 50px auto;
}

.img-cambia img {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.flex1{
  width:210px;
  height: 210px;
  margin-bottom: 0;
  margin-top: 90px;
  transition: all 1s ease-in-out;
}

.img-cambia img.top:hover {
  opacity: 0;
}

.nubes{
  position: relative;
  top: 7rem;
  left: -28rem;
}

.coo{
  position: relative;
  left: -2rem;
}

/*video*/

.video-bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;

}

.video-overlay {
  position:relative;
  z-index:4;
  height: auto;
  width: 100%;
}

header::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(255, 96, 55, 0.875);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  background-color:rgba(255, 96, 55, 0.875); /* Black w/ opacity */
}

/* Contenido del modal */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height:auto;
  border:12px solid white;
  z-index: 100;
}


/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* boton cerrar el modal */
#close {
  position: absolute;
  top: 20px;
  right: 150px;
  color:#fff;
  font-size: 53px;
  font-weight: bold;
  transition: 0.3s;
  z-index:110;
}

#close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% imagen en la pantalla */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
    }
}

/*mapa*/

.mapa{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map{
  height: 99vh;
  top: -27px;
  width: 48vw;
}

.red-map{
  color:red;
}

.blue-map{
  color:blue;
}

@media (max-width: 1200px){
  .nubes{
    left:-17rem;
  }
}

@media (max-width: 768px){
  .nubes{
    left:-12rem;
  }
}
