

.productpage{
	background-image: url(../img/patron-multicolor.png);
	background-repeat: repeat;
}
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.posts {
  width: 1200px;
  margin: 2em auto;
}
.posts > div {
  font: 16px/250px Arial;
  width: 320px;
  height: 320px;
  float: left;
  margin: 40px;
  display: block;
  text-align: center;
	background-color: white;
	border: 5px solid blue;
	border-radius: 10px;
}

.parraf{
	font-family: 'GothamBookRegular';
	font-size: 16px;
}

h6{
	font-size:25px;
}

.blue{
	color:blue;
}

.carousel-indicators {
    bottom: -150px;
}

.red{
	color:red;
	margin-top: 100px;
}

.barra-product-roja{
	width: 12%;
  margin: auto;
	margin-bottom: 60px;
}

.modal-dialog {
  width: 993px;
  margin: 130px auto;
}

.toggles {
  width: 800px;
  margin: auto;
  display: block;
  clear: both;
  overflow: hidden;
	margin-bottom: 75px;
}

.toggles a{
  border-right: 2px solid blue;
  color: blue;
  display: block;
  float: left;
  margin: auto;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.red-text{
	color:red;
}

.inside{
	border-left: 5px solid blue;
}
.modal-content{
	border: 10px solid blue;
	border-radius: 20px;
	width: 1000px;
	align-items: center;
}

.carousel-indicators li {
      border-color: blue;
  }
  .carousel-indicators li.active {
      background-color: blue;
  }

.point{
	cursor: pointer;
}

/*navbar*/
#nav{
  height:7vh;
}

.navbar-header{
  width:50%;
}

.navbar-brand>img{
  width: 40%;
  display: inline-block;
  position: relative;
  top: -11px;
}

.brand-img{
  width:20%;
}
