

.productpage{
	background-image: url(../img/patron-multicolor.png);
	background-repeat: repeat;
}
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.pcard{
	background-color: white;
	border: 5px solid blue;
	border-radius: 10px;
	margin: 4.1%;
	overflow: hidden;
}

.red{
	color:red;
	margin-top: 100px;
}

.barra-product-roja{
	width: 12%;
  margin: auto;
}

.modal-dialog {
  width: 993px;
  margin: 130px auto;
}

.inside{
	border-left: 5px solid blue;
}
.modal-content{
	border: 10px solid blue;
border-radius: 20px;
width: 1000px;
	align-items: center;
}

.carousel-indicators li {
      border-color: blue;
  }
  .carousel-indicators li.active {
      background-color: blue;
  }

.point{
	cursor: pointer;
}

/*navbar*/
#nav{
  height:7vh;
}

.navbar-header{
  width:50%;
}

.navbar-brand>img{
  width: 40%;
  display: inline-block;
  position: relative;
  top: -11px;
}

.brand-img{
  width:20%;
}
