
.back_slider{
	width: 100%;
	max-width: 2500px;
	margin: 0;
	height: 100vh;
	padding: 70px;
	color: #fff;
	/*top: 0;
	left: 0;
	position: absolute;*/
	background-position: 1.4s ease-in-out 0.3s;
	background-image:url(../img/patron-rojo.png);
  background-repeat:repeat;
	/*z-index: 0;*/
}

.barbar{
	margin:auto;

}

.barra-separte{
	margin:auto;
	width: 16%;
  position: relative;
  top: -1.2rem;
}

.barra-encuentranos{
	margin:auto;
	width: 32%;
  position: relative;
  top: -1.2rem;
}


.carousel{
	width: 100%;
	max-width: 2500px;
	height: 400px;
	margin: 50px 0 0 0;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
	z-index:1;
}

.carousel_item{

	position: relative;
	width: 50%;
	display: none;
	top: 80px;
}


.bord {
	border-left: 5px solid #fff;
	padding-left: 50px;
	margin-top: 50px;
	color: white;
}

 .text-title{
 	color: white;

	padding: 0px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;

 }

.carousel_img{
	margin-left: 250px;
	margin-top: 35px;
	width: 60%;
	height: auto;
	vertical-align: middle;
	border: 7px solid #10069F;
	border-radius: 10px;
	background-color: white;
	box-sizing: border-box;
}

.carousel-control.right, .carousel-control.left {
		background-image: none;
		color: #fff;
		margin-top: 130px;
}
.carousel-indicators li {
		border-color: #fff;
}
.carousel-indicators li.active {
		background-color: #fff;
}

.pro{
	margin-top:7%;
}

.boton-intro{
	margin-top: 10px;
	background-color: #10069F;
	color: #fff;
	border-radius: 40px;
	padding:2px 20px 2px 20px;
	border:none;
	font-family: 'Moon Flower Bold';
	font-size: 26px;
	border:2px solid #10069F;
}
.boton-intro:hover{
	background-color: transparent;
	color: #10069F;
	border:2px solid #10069F;
}

.cursor{
	margin-top: 50%;
}

@media only screen and (max-width: 1200px){
  .back_slider {
    margin-top: 75px;
    }
	.carousel_img{
		margin-top: 58px;
	}
}
