

.base1{
	background-image: url(../img/patron-byn.png);
	background-repeat: repeat;
	height: 200px;
	color: white;
}
.base1:after {
	background-color: rgba(255, 96, 55, 0.95);
}

.base2{
	background-color: rgb(49, 38, 29);
	height: 70px;
	color: white;

}
.products{
	margin-left: 50%;
}
.pcard{
	background-color: white;
	border: 5px solid blue;
	border-radius: 10px;
	width: 250px;
	height: 200px;
	margin: 20px;
	overflow: hidden;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
