@font-face{
	font-family: 'Moon Flower Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Moon Flower Bold'),
	url('../font/Moon Flower Bold.woff') format('woff');
}
@font-face{
	font-family: 'GothamBookRegular';
	font-style: normal;
	font-weight: normal;
	src: local('GothamBookRegular'),
	url('../font/GothamBookRegular.otf');
}
@font-face{
	font-family: 'GothamBold';
	font-style: normal;
	font-weight: normal;
	src: local('GothamBold'),
	url('../font/GothamBold.otf');
}


*{
	padding:0px;
	margin:0px;
	font-family: 'GothamBold';
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Moon Flower Bold';
}

h2{
	font-size:75px;
}

h3{
	font-size:70px;
}
h4{
	font-size:45px;
}
.wrapper_separte{
	background-image: url('../images/bg_blue.png');
	background-repeat: repeat-x repeat-y;
	height: auto;
	padding: 70px;
	color: #fff;
}
.wrap_titles{
	margin-top: 50px;
}
.wrap_form{
	padding: 20px;
}
.box-form{
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	border:5px solid #FFD100;
	padding: 30px 50px 30px 50px;
}
.subtitle_section{
	font-size: 75px;
	color: #fff;
	font-family: 'Moon Flower Bold';
	font-weight: bold;
}
.subtitle_yellow{
	color: #FFD100;
	font-size: 70px;
	font-family: 'Moon Flower Bold';
	font-weight: bold;
	padding:20px 0px;
	margin-right: 34px;
}
.text-intro{
	font-family: 'GothamBookRegular';
	font-size: 25px;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	border-right: 5px solid #f1f1f1;
}
.form_separte label{
	font-size: 20px;
	font-family: 'GothamBookRegular';
}
.form_separte label.error{
	font-family: 'GothamBookRegular';
	font-size: 12px;
	color: red;
}
.form_separte input,
.form_separte select{
	font-family: 'GothamBookRegular';
	border-radius: 0;
	background-color: rgba(255,255,255,0.8);
	box-shadow: none;
}
.group_input{
	margin-bottom: 10px;
}
.btn-default{
	background-color: #FFD100;
	color: #10069F;
	border-radius: 40px;
	padding:2px 20px 2px 20px;
	border:none;
	font-family: 'Moon Flower Bold';
	font-size: 26px;
	border:2px solid #FFD100;
}
.btn-default:hover{
	background-color: transparent;
	color: #10069F;
	border:2px solid #FFD100;
}
.wrapper_encuentranos{
	background-image: url('../images/bg_yellow.png');
	background-repeat: repeat-x repeat-y;
	height: auto;
	padding: 100px 70px 100px 70px;
	color: #fff;
}
.subtitle_red{
	font-size: 75px;
	color: #EE2737;
	font-family: 'Moon Flower Bold';
}
.content_form_google{
	margin-top: 50px;
}
.form_search label{
	font-size: 20px;
	font-family: 'GothamBookRegular';
}
.form_search select{
	font-family: 'GothamBookRegular';
	border-radius: 0;
	background-color: rgba(255,255,255,0.7);
	box-shadow: none;
}
.legend_text{
	padding: 50px 100px;
	font-size: 16px;
	font-family: 'GothamBookRegular';
	color: #10069F;
}
